body>div.container{
    display: flex;
    flex-direction: column;
}

#nomPartie{
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 3vh;
    text-align: center;
    padding: 7px;
    background-color: #29c3aa;
    color: white;
    text-transform: uppercase;
}

dialog#dialog{
    border-color: #29c3aa ;
}